<h3>{{ legend }} - {{ percentage }}</h3>

<div class="input-group">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-primary" type="button" (click)="changeValue(-5)">
            <em class="mdi mdi-minus"></em>
        </button>
    </div>

    <input #txtProgress type="text" class="form-control" name="percentage" [(ngModel)]="percentage" (ngModelChange)="onChange( $event )" min="1" max="100">

    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-primary" type="button" (click)="changeValue(5)">
            <em class="mdi mdi-plus"></em>
        </button>
    </div>
</div>
